body {
  background-color: #e2e2e2;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.wrapper{
  max-width: 1280px;
  margin: 0 auto;
}
.screen {
  overflow: auto;
	resize: none;
  width: 60%;
  min-height: 100px;
  padding: 20px;
  display: block;
  padding: 30px;
  font-size: 26px;
  color: #969696;
  margin: 30px auto 15px auto;
  border-color: #a7a4a9;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 72%/108% 4% 92% 5%;
  transform: rotate(0deg);
}

.table {
  width: 76%;
  display: block;
  margin: 0 auto;
}

.tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 3px outset #f2efef;
  width: auto;
  min-width: 35px;
  height: 35px;
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  word-break: break-all;
  margin: 0;
  padding: 8px;
  background-color: #a7a4a9;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 72%/108% 4% 92% 5%;
  transform: rotate(0deg);
  transition: all 0.4s linear;
}

.key:active {
  border: 3px outset #ddd;
  background: linear-gradient(250deg, #ad8888, #bc5858);
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 72%/108% 4% 92% 5%;
  transform: rotate(0deg);

}

.active {
  border: 3px outset #ddd;
  background: linear-gradient(250deg, #ad8888, #bc5858);
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 72%/108% 4% 92% 5%;
  transform: rotate(0deg);
  transition: all 0.4s linear;

}
.explanation{
  color: #444444;
  font-family: Arial;
  font-size: 22px;
  text-align: center;
  margin: 15px auto;
  width: 50%;

}
.tr:first-of-type {
font-weight: 400;
}
.tr:last-of-type .key:nth-child(4) {
  width: 50%;
}
.tr:first-of-type td:last-of-type {
  width: 15%;
}
.tr:first-of-type .key:nth-child(4) {
  width: 5%;
}
.tr:nth-child(4) .key:nth-child(2) {
  border: 3px outset #ddd;
  background: linear-gradient(250deg, #ad8888, #bc5858);
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 72%/108% 4% 92% 5%;
  transform: rotate(0deg);
  transition: all 0.4s linear;
}
.tr:nth-child(4) td:last-of-type,
.tr:nth-child(4) td:first-of-type{
  width: 10%;
}